/* LoadingPage.css */

.loading-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
margin-right: 10px;

    color: #eec843;
    font-family: 'Arial', sans-serif;
  }
  
  .spinner {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #eec843;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  h2 {
    margin-top: 20px;
    font-size: 24px;
  }
  