.screen{
    position: fixed !important; 
    z-index: -1;
    overflow-x: hidden;
    overflow-y: hidden;
}
.videoFrame iframe{
    width: 1920px;
    height: 1080px;
    border: 15px solid black;
    overflow-x: hidden;
    overflow-y: hidden;
}