.interface{
 
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    /* top: 0%;
    left: 0%;
    position: absolute; */
transform: translate(-160%,-85%);
z-index: 0;
  
  }
  
  .command{
    position:absolute;
    bottom:2%;
    left:1%;
    width: 300px;
    display: inline-block;
    color:#ffffff;

    font-weight: 1000;
    font-size:2.5vh;
  }

  .command p{
    margin: 0px;
    width: 100px;
  }


  .command h3{
    padding: 0px;
    margin-bottom: -10px;

  }
  
  .intro{
  


    display: inline-block;
  height: 100vh;
  width: 400px;
  font-weight: 500;
    color:#354437;
    padding: 10px 20px;
    border-radius: 0px 0px 0px 0px;
  scroll-behavior: smooth;
  
  }

    
  .intro .title{
    color: #0e701d;

  }

  .intro .logo{
  
    width: 500px;
    margin: 30px 0px;
   

    padding: 10px;
    border-radius: 10px;

    
  }

  .intro .logo img{
    width: 250px;
    transform: translateX(-20%);
   
  }
  
  .intro h1{
    font-size: 30px;
    padding: 0px;
  }

  .intro button{
        background-color: #0e701d;
        color: white;
       border-radius: 20px;
       border: none;
       padding: 10px; 
       font-size: 15px;
       margin-top: 20px;
       margin-bottom:10px ;
  }
  .intro button:hover{
    background-color: transparent;
    color: rgb(38, 38, 38);
   border-radius: 20px;
   border: 1px solid rgb(32, 31, 31);
   padding: 10px; 
   margin-bottom:10px ;
   cursor: pointer;
  }
