.interface{
    position: fixed !important;
    top: 0px ;
    left: 0px;
    overflow-x: hidden !important;
    overflow-y: hidden !important;
}

.interface .card{
    background-color: white;
    width: 200px;
    height: 200px;
    z-index: 200;
    overflow-x: hidden !important;
    overflow-y: hidden !important;
}