.screen{
    position: fixed !important; 
    z-index: 100;
    overflow-x: hidden;
    overflow-y: hidden;
}
.screen iframe{
    width: 1024px;
    height: 670px;
    border: 15px solid black;
    overflow-x: hidden;
    overflow-y: hidden;
   
   
}