
.container{
    width: 800px;
    margin: auto;
}
.ui{
    position: fixed !important;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.36);
    overflow: hidden;
    width: 100vw;
    padding: 0px 100px;
}


.scrollalert{
    position: fixed !important;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: center;
    margin: auto;
    background-color: rgba(27, 29, 58, 0.459);
    overflow: hidden;
    width:12vw;
    padding: 10px 10px;
    border-radius: 20px;
}


.scrollalert .alert{
    color: white;
}
.ui .navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: White;
    width: 1200px;
}

.ui .logo img{
width: 100px;
}


.ui .navbar ul{
    display: flex;
    gap: 70px;
    text-decoration: none;
  
}

.ui .navbar ul li{
    list-style: none;
    cursor: pointer;
    color: white;
    text-decoration: none;
    text-decoration: none !important;

}
.ui .navbar ul li a{
    text-decoration: none !important;
}





.ui .navbar ul li:hover{
    color: rgb(255, 192, 18);
    text-decoration: underline;
}