/* App.css */
.home {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  pointer-events: none;
  display: flex;
  flex-direction: column;
}

.navbar {
  position: relative;
  /* Ensure Navbar is at the top */
  z-index: 20;
  /* Ensure Navbar is above other content */
}

.scrollalert {
  position: fixed; /* Fixes the alert at the bottom */
  bottom: 20px; /* Distance from the bottom of the viewport */
  left: 50%; /* Centers horizontally */
  transform: translateX(-50%); /* Adjusts for the element's width */
  background-color: #222;
  padding: 10px 20px;
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
  z-index: 20; /* Ensure it is above other content */
}

.content {
  flex: 1;
  /* Fills available space between Navbar and Footer */
}
