
.container{
    width: 800px;
    margin: auto;
}


.ui{
    position: fixed !important;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.36);
    overflow: hidden;
    width: 100vw;
    padding: 0px 100px;
}

.hologram{
    position: fixed !important;
    
}


.hologram iframe{
    border: none;
}

.scrollalert{
    position: fixed !important;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: center;
    margin: auto;
   
    overflow: hidden;
    width:100%;
   
}


.scrollalert .alert{
    background-color: rgba(27, 29, 58, 0.459);
    color: white;
    padding: 10px 10px;
    border-radius: 20px;
}
.ui .navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: White;
    width: 1200px;
}

.ui .logo img{
width: 100px;
}


.ui .navbar ul{
    display: flex;
    gap: 110px;
    text-decoration: none;
  
}

.ui .navbar ul li{
    list-style: none;
    cursor: pointer;
    color: white;
    text-decoration: none;
    text-decoration: none !important;

}
.ui .navbar ul li a{
    text-decoration: none !important;
}





.ui .navbar ul li:hover{
    color: rgb(255, 192, 18);
    text-decoration: underline;
}

.crabDescription{
background-color: white;
position: fixed !important;
top: 50%;
left: 50%;
border-radius: 5px;
padding: 10px 20px ;
transform: translate(-50%,-50%);
text-align: justify;
}

.crabDescription .card{
    display: flex;
    justify-content: space-between;
    gap: 70px;
    width: 70vw;
    height: 30vw;

}

.crabDescription .card .description h2{
    font-size: 60px;
    color:#351d77
}

.crabDescription .card .description .model{

}

.crabDescription .card .description .btn button{
    background-color: rgb(234, 51, 51);
    border: none;
    color: white;
    font-size: 20px;
    padding: 10px;
    border: 2px solid transparent;
    margin-top: 30px;
    border-radius: 5px;
}

.crabDescription .card .description .btn button:hover{
cursor: pointer;
background-color: transparent;
border: 2px solid rgb(0, 0, 0);
color: black;
transition: 0.5s all ease-in-out;

}